@model SendSmsCallAlerts.Models.IntroSms

@{
    ViewData["Title"] = "Edit";
}

<div class="d-flex justify-content-between align-items-center mb-2">
    <h1>Edit Intro SMS</h1>
    <a asp-action="IncomingLogs" asp-controller="Sms" class="btn btn-secondary btn-sm">
        <i class="fa fa-arrow-left me-1"></i> Back to SMS Logs
    </a>
</div>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>
                @* <input asp-for="Message" class="form-control" />*@
                <textarea name="Message" class="form-control" rows="10">@Model.Message</textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
</div>

